.search {
  position: relative;
  margin-top: 10px;
  width: 50%;
  display: flex;

  column-gap: 15px;

  &__input-wrapper {
    flex-grow: 1;
    position: relative;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 44px 10px 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  &__btn-cross {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 10;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: url('../../../public/images/cross-light.svg') center/auto auto no-repeat;
    cursor: pointer;
    transition-duration: 500ms;

    &:hover {
      background: url('../../../public/images/cross-dark.svg') center/auto auto no-repeat;
    }
  }
}